.register{
    margin-top: -2px;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      #d5ba6fc5,
      #b4289dc5),url("../../assets/images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-y: hidden;

}

.register h1,h5{
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);

}


.register-box{
    border: 0.6px solid gray;
    margin-left: 50%;
    width: 80%;
    height: 50%;
    padding:10px;
    background-color: rgba(117, 250, 255, 0.24);
    transform: translateX(-50%);
    text-align: center;
}
.register table{
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-65%);

}